*{
  font-size: 1.2rem;
}

.img-responsive{
    display: inline-block;
    width: 17% ;
    height: auto;
  }
  
  #sign-out{
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 25px;
    font-size: 20px;
  }
  
  a:hover{
    color: blue;
  }
  
  a{
    display: flexbox;
    text-decoration: none;
  }
  
  .row-2{
    float: all;
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: #0443a2;
  
  }
  
  .col-21{
    text-align: left;
    font-size: 20px;
    font: arial;
    color: #f5f5f7;
    padding-left: 100px;
    padding-top: 30px;
  }
  .col-22{
    font-size: 30px;
    font: arial;
    padding-right: 100px;
    margin: 0;
    position: absolute;
    top: 30%;
    transform: translateY(70%);
    transform: translateX(500%);
  
  }
   .col-23{
    text-align: left;
    font-size: 30px;
    font: arial;
    padding-top: 60px;
    padding-left: 200px;
  }
  
  
  .button {
  background-color: #f7f8fc;
  border: 2px;
  color: blue;
  padding: 15px 28px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -22px 2px;
  cursor: pointer;
  position: absolute;right: 100px ;
  position: absolute;top: 175px;
  }
  
  .button:hover {
  background-color: #008CBA;
  color: white;
  }
  #button1{
  border-radius: 10px;
  height: 200px;
  width: 300px;
  background-color:#ffffff;
  border: 2px solid #e7e7e7;
  cursor: pointer; 
  position: absolute;left: 12% ;
  position: absolute;top: 65%;
  margin: 50px;
  
  }
  #button1:hover {background-color: #e7e7e7;}
  #button2{
  border-radius: 10px;
  height: 200px;
  width: 300px;
  margin-left: 30%;
  background-color:#ffffff;
  border: 2px solid #e7e7e7;
  cursor: pointer; 
  position: absolute;right: 12%;
  position: absolute;top: 65%;
  margin: 50px;
  
  
  }
  #button2:hover {background-color: #e7e7e7;}