*{
    font-size: 1.2rem;
}

.img-responsive{
    display: inline-block;
    width: 17% ;
    height: auto;
}

ul{
    list-style: none;
}

#sign-out{
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 25px;
    font-size: 20px;

}

a:hover{
    color: blue;
}

a{
    text-decoration: none;
}

.detail{
    width: 50%;
    height: auto;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    font-size: 1.2rem;
}

.user{
    margin-left: 10px;
}


#username{
    margin: 10px;
    font-display: center;
    font-size: 0.9rem;
}

.file{
    margin: 10px;
    font-size: 1.2rem;
}


.butt{
    margin-left: 35px;
}

#submit{
    display: flexbox;
    position: absolute;
    padding: 10px;
    left: 37%;
    padding: 10px;
    margin-top: 10px;
}

.upload{
    color: rgb(79, 79, 255);
    margin-right: 39px;
    padding: 4px 10px;
    border-color: blue;
    background-color: blue;
    color: whitesmoke;
    border-radius: 4px;
    font-size: 1.1rem;
}

.cancel{
 color: rgb(255, 85, 85);
 margin-left: 39px;
 padding: 4px 10px;
border-color: red;
background-color: red;
color: whitesmoke;
border-radius: 4px;
font-size: 1.1rem;
}

.form-control{
    font-size: 1.2rem;
}

.upload:hover{
    background-color: rgb(22, 22, 182);
    cursor: auto;
}

.cancel:hover{
    background-color: rgb(212, 5, 5);
    cursor:auto;
}